.sheets-container {
    flex-basis: 75%;
    height: 657px;
}

.sheet-row {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.sheet {
    width: 12%;
    margin: 1%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
}

.cell-row {
    display: flex;
    justify-content: center;
}

.cell {
    background-color: snow;
    border: 1px solid lightblue;
}