.sheets-container {
    flex-basis: 75%;
    height: 650px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sheet {
    width: 11%;
    margin: 1.5%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
}

.sheet:hover {
    border: 1px solid greenyellow;
    transform: scale(1.05); 
}

.cell-row {
    display: flex;
    justify-content: center;
}

.cell {
    background-color: snow;
    border: 1px solid #eeeeee;
}