.sheets-container {
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
    border-left: 1px solid gray;
    height: 100%;
}

.sheet {
    width: 111px;
    height: 111px;
    margin: 1.5%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
}

.sheet:hover {
    border: 1px solid greenyellow;
    transform: scale(1.05); 
}

.cell {
    background-color: snow;
    border: 1px solid #eeeeee;
}

@media screen and (max-width: 600px) {
    .sheets-container {
        flex-basis: 50%;
    }

}