.sidebar {
    flex-basis: 25%;
    padding: 1%;
}


#logo-link {
    max-width: 30%;
    height: auto;
}

.letter-window {
    height: 150px;
    width: 150px;
    min-width: 100px;
    min-height: 100px;
    line-height: 150px;
    font-size: 500%;
    text-align: center;
    background-color: whitesmoke;
}

